
@{
    ViewBag.Title = "Hakkında";
    Layout = "~/Views/Shared/_testlayout.cshtml";
}
<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>About</h3>
            <img src="images/about_banner.jpg" alt="" />
            <p>hakkımızda bölümü </p>
            
    </div>
</div>

