
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_testlayout.cshtml";
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<body>
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot">Türkiyenin En Güvenilir Tır Kiralama Sitesi</h2>
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-img">
                              
                                <img src="~/web/images/scania logo.png" alt="">
                            </div>
                            <div class="grid1-desc">
                               <p>Scania</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/volvo logo.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Volvo</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/mercedes logo.jpg" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Mercedes</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/iveco logo.jpg" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>İveco</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/renault logo.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Renault</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/ford-logosu.jpg" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Ford-Fmax</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">
                        <div class="slider">
                            <ul class="rslides" id="slider1">
                                <li><img src="~/web/images/ivecoo.jpg" alt="">İVECO</li>
                                <li><img src="~/web/images/ford_fmax.jpg" alt="">FORD-FMAX</li>
                                <li><img src="~/web/images/mercedes.jpg" alt="">MERCEDES</li>
                                <li><img src="~/web/images/scania.jpg" alt="">SCANİA</li>
                                <li><img src="~/web/images/volvo.jpg" alt="">VOLVO</li>
                                <li><img src="~/web/images/renault.jpg" alt="">RENAULT</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>Tır kiralama sitesine hoşgeldiniz!</h3>
                    <h4>Sitemizde neler mi var. Dilediğiniz marka ve modeldeki tırlarımızı sorun yaşamadan kullanıp iş hayatınıza canlılık katabilirsiniz.Akıllı konum takip cihazı ile kolayca yerini tespit edip uzaktan kontrol edebilirsiniz.Bizi tercih ettiğiniz için teşekkür ediyoruz! </h4>
                </div>

                <div class="grids">
                    <div class="box1">
                        <div class="padding">
                            <h4>This Week's Top 10</h4>
                            <ul class="list list-pad">
                                <li class="list-bg"><span>1.</span><a href="#">formas humanitatis pe</a></li>
                                <li class="list-bg1"><span>2.</span><a href="#">congue nihil imperdiet</a></li>
                                <li class="list-bg"><span>3.</span><a href="#">Aadipisicing elit sed do</a></li>
                                <li class="list-bg1"><span>4.</span><a href="#">luptatum zzril  </a></li>
                                <li class="list-bg"><span>5.</span><a href="#">Claritas est etiam</a></li>
                                <li class="list-bg1"><span>6.</span><a href="#">claritatem insitam;</a></li>
                                <li class="list-bg"><span>7.</span><a href="#">velit esse molestie consequa</a></li>
                                <li class="list-bg1"><span>8.</span><a href="#">nostrud exerci tation ulla</a></li>
                                <li class="list-bg"><span>9.</span><a href="#">demonstraverunt lectores</a></li>
                                <li class="list-bg1"><span>10.</span><a href="#">dolore te feu</a></li>
                            </ul>
                            <a href="#" class="link1">See all hotels</a>
                        </div>
                        <div class="padding1">
                            <h4>Our Best Places</h4>
                            <div class="box-left">
                                <div class="bot-img">
                                    <img src="images/pic3.jpg" alt="" />
                                </div>
                                <div class="bot-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
                                </div>
                                <div class="clear"></div>
                                <div class="bot-img">
                                    <img src="images/pic7.jpg" alt="" />
                                </div>
                                <div class="bot-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
                                </div>
                                <div class="clear"></div>
                                <div class="bot-img">
                                    <img src="images/pic8.jpg" alt="" />
                                </div>

                                <div class="bot-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="box1-left">
                                <div class="bot-img">
                                    <img src="images/pic9.jpg" alt="" />
                                </div>
                                <div class="bot-desc1">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
                                </div>
                                <div class="clear"></div>
                                <div class="bot-img">
                                    <img src="images/pic10.jpg" alt="" />
                                </div>
                                <div class="bot-desc1">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
                                </div>
                                <div class="clear"></div>
                                <div class="bot-img">
                                    <img src="images/pic3.jpg" alt="" />
                                </div>
                                <div class="bot-desc1">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</body>
</html>


