
@{
    Layout = null;
}

<!DOCTYPE html>

<html> 
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Default_Lyout</title>
</head>
<body>
    sabit alan
    <div>
      @RenderBody()
        </div>
</body>
</html>
